{% extends "base.html" %}

{% block title %} Login {% endblock %}

{% block content %}
  <div class="card w-50 mx-auto mt-5 p-3" style="box-shadow: rgba(0, 0, 0, 0.35) 0px 3px 10px;">
    <div class="card-body">
      <h3 class="text-center">Login To Your Account</h3>

      {% for error in form.non_field_errors %}
        <div class="text-danger">
          {{ error }}
        </div>
      {% endfor %}

      <form action="." method="POST" class="mt-5">
        {% csrf_token %}  
        {% for field in form %}
          <div>
            {{ field }}
          </div>
        {% endfor %}
        <a href="" class="float-end"><small>forgot password?</small></a>
        <br>
        <div class="text-center"><input type="submit" value="Login" class="btn btn-primary mt-4 w-25"></div>
      </form>
      <p class="text-center mt-4">
        <small>Don't have an account?</small>
        <a href="{% url 'accounts:signup' %}">SignUp</a>
      </p>
    </div>
  </div>
{% endblock %}