{% extends "base.html" %}

{% block title %}Home page{% endblock %}

{% block content %}
  <h1 class="mt-5">Welcome to home page
    <a href="{% url 'accounts:password_change' %}" style="float: right; font-size: 20px;">Change Password</a>
  </h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt nisi rem dolores obcaecati autem, quo minus harum assumenda pariatur sed eveniet sit mollitia fuga voluptate culpa ratione unde atque nemo dolore? Nesciunt nulla perspiciatis magni reprehenderit a itaque quisquam ea debitis quidem placeat rem, est architecto, eius eum? Delectus, facere reprehenderit dignissimos rem ratione sunt magni nemo odit facilis earum pariatur ipsum. Nobis explicabo nisi itaque aperiam quibusdam omnis minima?</p>

  <div class="card">
    <div class="card-body">
      <img src="{{ request.user.profile_img.url }}" width="200px">
      <br><p style="font-size: 23px; font-weight: bold; margin-left: 20px;">{{ request.user.username }}</p>
      <a href="{% url 'accounts:update_profile' %}" class="btn btn-sm btn-primary">Update Profile</a>
    </div>
  </div>

  {% if request.user.is_authenticated %}
    <a href="{% url 'accounts:logout' %}">Logout</a>
  {% endif %}
{% endblock %}
